<div class="intro-parent" (mousemove)="onMouseMove($event)">
    <div class="intro-wrapper div1">
        <div class="intro div1">
            <div class="moto">
                <span class="motospan roboto-700">NAKSHATRA NAMAHA<br>CREATIONS</span>
                <span class="company">Sky's not the limit—it’s the launchpad.</span>
            </div>
        </div>
        <div class="contacts div1">
            <span class="tel">+919900566466</span>
            <span class="whatsapp">+919900566466</span>
            <span class="email">info&#64;nakshatranamahacreations.com</span>
        </div>
    </div> 
    
    <div class="back-wrapper div2 background-container">
        <div class="inner-moto div2">
            <span class="inner-motospan roboto-700">Unlock Your Brand's Potential with the Best Website and Mobile App Developers in Bangalore</span>
            <span class="inner-company">At Nakshatra Namaha Creations, we bring ideas to life with passion and care. Our work is driven by creativity, attention to detail and a deep commitment to delivering what you imagine. We believe every creation has a story and we are here to shape yours.</span>
        </div>
        <div class="astro-img div2">
            <img src="assets\astro3.png" alt="Loading" class="astro div2">
        </div>
        <div class="rocket-img div2">
            <img src="assets\rocket.png" alt="Loading" class="rocket div2">
        </div>
        <div class="moon-img div2">
            <img src="assets\moon.png" alt="Loading" class="moon div2">
        </div>
        <div class="astro1-img div2">
            <img src="assets\astro1.png" alt="Loading" class="astro1 div2">
        </div>
    </div>
    <div class="cursor"></div>
</div>