<div class="client-wrapper" (mousemove)="logoPopup($event)">
    <div class="tri" >
        <img src="assets\triangle.svg" alt="" class="tri-img">
    </div>
    <div class="tri1" >
        <img src="assets\circle.svg" alt="" class="tri-img">
    </div>
    <div class="logo">
        <span class="ourclients bona-nova-sc-regular-italic">OUR<br>CLIENTS</span>
    </div>
    <div class="reviews">
        <img src="assets\arrow.svg" alt="" class="review-img">
        <span class="review-text bona-nova-sc-regular-italic">MORE REVIEWS</span>
    </div>
</div>